<div *ngIf="mission">
    <h2>{{ mission.mission_name }} ({{ mission.launch_year }})</h2>
    <p><strong>Flight Number:</strong> {{ mission.flight_number }}</p>
    <p><strong>Rocket:</strong> {{ mission.rocket.rocket_name }} - {{ mission.rocket.rocket_type }}</p>
    <p><strong>Details:</strong> {{ mission.details || 'No details provided.' }}</p>

    <img
        *ngIf="mission.links.mission_patch_small"
        [src]="mission.links.mission_patch_small"
        alt="Mission Patch"
        width="200"
    />

    <div class="links">
        <div><a *ngIf="mission.links.article_link" [href]="mission.links.article_link" target="_blank">Article</a></div>
        <div><a *ngIf="mission.links.wikipedia" [href]="mission.links.wikipedia" target="_blank">Wikipedia</a></div>
        <div><a *ngIf="mission.links.video_link" [href]="mission.links.video_link" target="_blank">Video</a></div>
    </div>

    <br />
    <button mat-raised-button color="primary" routerLink="/">Back to List</button>
</div>
